<div class="bor">
    <ul class="flex justify-center border-t-2 border-b-2">
        {% for block in section.blocks %}
        <li><a class="inline-block font-semibold py-6 px-4 tracking-wider hover:bg-gray-200" href="{{block.settings.link_url}}">{{block.settings.link_text}}</a></li>    
        {% endfor %}
        
    </ul>
</div>
{% schema %}

{
    "name": "Blog Category Bar",
    "max_blocks": 4,
    "blocks": [
        {
            "type": "Blog",
            "name": "Blog Category Link",
            "settings": [
                {
                    "type": "text",
                    "id": "link_text",
                    "label": "Link Text"
                }, {
                    "type": "url",
                    "id": "link_url",
                    "label": "Link URL"
                }
            ]
        }
    ]

}

{% endschema %}