<div class="flex flex-col items-center py-32 bg-gray-100">
    <h2 class="text-primary text-6xl capitalize tracking-normal">{{section.settings.blog_banner_title}}</h2>
    <p class="font-semibold text-center">{{section.settings.blog_banner_subtitle}}</p>
</div>

{% schema %}
{
    "name": "Blog Banner",
    "settings": [
        {
            "type": "text",
            "id": "blog_banner_title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "blog_banner_subtitle",
            "label": "Subtitle"
        }
    ]
}
{% endschema %}